* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'nunito';
}

.allcontent {
    margin-top: 170px;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 30px;
    margin: 10px;
}

.imgprofile {
    border: solid 1px #9e5be0;
    border-radius: 200px;
    height: 160px;
    padding: 5px;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9e5be0;
    margin: 20px;
    font-size: 20px;
}

.maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.icon {
    padding: 10px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px 100px;
    border: solid 1px #9e5be0;
    color: #9e5be0;
    font-size: 15px;
}

.link:hover {
    background-color: rgb(241, 241, 241);
}
